<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Драйвер JDBC для MySQL -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.transaction.jta.platform">org.hibernate.engine.transaction.jta.platform.internal.NoJtaPlatform</property>

        <!-- URL, имя пользователя и пароль для подключения к базе данных -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pistol</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Диалект базы данных -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Включение режима отображения SQL-запросов -->
        <property name="hibernate.show_sql">true</property>

        <!-- Автоматическое создание таблиц на основе сущностей -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.use_sql_comments">true</property>

        <mapping class="piu.fast_project.Person" />

        <mapping class="piu.fast_project.Gangster" />

    </session-factory>
</hibernate-configuration>
